
{% extends "main.html" %}

{% block content %}
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2> Войти в свой профиль </h2>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
            <p>&nbsp;</p>
        <table style="margin-left: auto; margin-right: auto;">
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
    <p>&nbsp;</p>
    <input type="submit" value="      Войти      ">&nbsp;
    <input type="button" value="Регистрация" onclick="window.location.href='{% url 'signup' %}'" />
</form>
{% endblock %}