
{% extends 'flatpages/default.html' %}

{% block title %}
<h1><span style="color: #ffffff;">ПЕРЕВАЛЫ</span></h1>
<p><span style="color: #ffffff;">...........................................................</span></p>
<p>&nbsp;</p>
<p style="text-align: center;"><strong>
{% endblock title %}

{% block content %}

    <style>
    body {
        background-image: url('https://i.pinimg.com/originals/fd/a1/2d/fda12d928a63435c4a4d294ceef0d2f6.jpg');
        background-size: cover;
    }
    </style>

    {% if pereval %}</strong></p><div style="column-count: 3; text-align: center;"><ul style="list-style: none;">
        {% for name_pereval in pereval %}<li style="text-align: left;"><span style="color: #ffffff;"><strong>{{ name_pereval }}</strong></span></li>
        {% endfor %}</ul></div><p style="text-align: center;"><strong>
    {% endif %}
{% endblock content %}</strong></p>