{% extends 'flatpages/default.html' %}

{% block title %}
<h1><p style="text-align: center;">{{ point.title }}</p></h1>
{% endblock title %}

{% block content %}
<p style="text-align: left;"><strong><span style="color: #000000;">_______________________________________________________________________________________________________________________________________________________________________________________________________</span></strong></p>
<p style="text-align: left;"><strong>{{ point.add_time|date:'d.m.Y' }}&nbsp; &nbsp; &nbsp; <span style="color: #00ff00;">Статус -</span> <span style="color: #00ff00;"> {% for status in point.status.all %}{{ status }}{% endfor %}</span> </strong></p>
<p style="text-align: left;">Перевал:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>{% for pereval in point.pereval.all %}{{ pereval.name_pereval }}{% endfor %}</strong></p>
<p style="text-align: left;">Координаты:&nbsp; &nbsp;<strong>{{ point.coords }}</strong></p>
<p style="text-align: left;">Уровень:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>{% for level in point.level.all %}{{ level }}{% endfor %}</strong></p>
<p style="text-align: center;">{{ point.photo }}</p>
<p style="text-align: left;">Описание:&nbsp; &nbsp; &nbsp; &nbsp; <strong>{{ point.description }}</strong></p>
<p style="text-align: left;">Пользователь:&nbsp; <strong>{{ point.user }}</strong></p>
<p style="text-align: left;"><strong><span style="color: #000000;">______________________________________________________________________________________________________________________________________________________________________________________________________</span></strong></p>
{% endblock content %}