{% extends 'flatpages/default.html' %}

{% block title %}
<h1>ВСЕ ПУБЛИКАЦИИ</h1>
<p>......................................................................................................</p>
{% endblock title %}

{% block content %}
    <!--Добавляем форму фильтрации-->
    <form action="" method="get">
        <p style="text-align: center;">Перевал: {{ filterset.form.pereval }}</p>
        <p style="text-align: center;">Статус:&nbsp; &nbsp; &nbsp;{{ filterset.form.status }}</p>
        <p style="text-align: center;"><input type="submit" value="Найти" /></p>
    </form>
    {% if points %}
        {% for point in points %}
<p style="text-align: left;"><strong><span style="color: #000000;">_______________________________________________________________________________________________________________________________________________________________________________________________________</span></strong></p>
<p style="text-align: left;"><strong>{{ point.add_time|date:'d.m.Y' }}&nbsp; &nbsp; &nbsp; <span style="color: #00ff00;">Статус -</span> <span style="color: #00ff00;"> {% for status in point.status.all %}{{ status }}{% endfor %}</span> </strong></p>
<p style="text-align: center;"><strong>{{ point.title }}</strong></p>
<p style="text-align: left;">Перевал:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>{% for pereval in point.pereval.all %}{{ pereval }}{% endfor %}</strong></p>
<p style="text-align: left;">Координаты:&nbsp; &nbsp;<strong>{{ point.coords }}</strong></p>
<p style="text-align: left;">Уровень:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>{% for level in point.level.all %}{{ level }}{% endfor %}</strong></p>
<p style="text-align: center;">{% if point.photo %}<img src="{{ point.photo.url }}" alt="Фото" style="max-width: 20%;" />{% endif %}</p>
<p style="text-align: left;">Описание:&nbsp; &nbsp; &nbsp; &nbsp; <strong>{{ point.description }}</strong></p>
<p style="text-align: left;">Пользователь:&nbsp; <strong>{{ point.user }}</strong></p>
<p style="text-align: left;"><strong><span style="color: #000000;">______________________________________________________________________________________________________________________________________________________________________________________________________</span></strong></p>
        {% endfor %}
            {% else %}
                <h2>Публикаций нет!</h2>
    {% endif %}

    <!-- Добавляем пагинацию на страницу -->

    <!-- Информация о предыдущих страницах -->
    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
    {% endif %}

    <!-- Информация о текущей странице -->
    {{ page_obj.number }}

    <!-- Информация о следующих страницах -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

<p>&nbsp;</p>

{% endblock content %}