
{% extends 'flatpages/default.html' %}

{% block title %}
<h1>НАШИ КОНТАКТЫ</h1>
<p>..................................................................................................</p>
{% endblock title %}

{% block content %}
<p>&nbsp;</p>
<hr />
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>e-mail:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong>&nbsp;</p>
<p style="text-align: left;"><a href="mailto:info@mountains.com">info@mountains.com</a></p>
<p style="text-align: left;"><strong>Телефон для связи:</strong>&nbsp; &nbsp;</p>
<p style="text-align: left;">+7 (812) 000-11-22 (Санкт-Петербург)</p>
<p style="text-align: left;">+7 (495) 000-33-44 (Москва)</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<hr />
{% endblock content %}